[submodule "Sixtar-Switch_RP2040/pico/openocd"]
	path = Sixtar-Switch_RP2040/pico/openocd
	url = https://github.com/raspberrypi/openocd.git
[submodule "Sixtar-Switch_RP2040/pico/pico-extras"]
	path = Sixtar-Switch_RP2040/pico/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "Sixtar-Switch_RP2040/pico/pico-playground"]
	path = Sixtar-Switch_RP2040/pico/pico-playground
	url = https://github.com/raspberrypi/pico-playground.git
[submodule "Sixtar-Switch_RP2040/pico/pico-sdk"]
	path = Sixtar-Switch_RP2040/pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "Sixtar-Switch_RP2040/pico/picoprobe"]
	path = Sixtar-Switch_RP2040/pico/picoprobe
	url = https://github.com/raspberrypi/picoprobe.git
[submodule "Sixtar-Switch_RP2040/pico/picotool"]
	path = Sixtar-Switch_RP2040/pico/picotool
	url = https://github.com/raspberrypi/picotool.git
